{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
  
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper-1.12.9.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-4.0.0.min.js' %}"></script>
  <script src="{% static 'js/fontawesome-v5.0.8.all.js' %}"></script>

  <!--  online script
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>
  -->

  <link rel="shortcut icon"  type="image/x-icon" href="{% static 'img/ssfavicon.ico' %}?v=2"/>

  <link href="{% static 'style.css' %}" rel="stylesheet">

  {% if title %}
    <title>SimpleStory - {{ title }}</title>
  {% else %}
    <title>SimpleStory</title>
  {% endif %}

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark navbar-default topbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/icon.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <dir class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'download' %}">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'donate' %}">Donate</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </dir>
  </div>
</nav>

{% block content %}

{% endblock content %}


<!--- Footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-4">
        <img src="{% static 'img/icon.png' %}">
        <hr class="light">
        <p> :]</p>
        <p>nobia@icloud.com</p>
      </div>
      <div class="col-sm-4">
        <hr class="light">
        <h5>framework</h5>
        <hr class="light">
        <p>Django</p>
        <p>Bootstrap</p>
      </div>
      <div class="col-sm-4">
        <hr class="light">
        <h5>database</h5>
        <hr class="light">
        <p>MariaDB</p>
        <p>PostgreSQL</p>
      </div>
      <div class="col-12">
        <hr class="light">
        <h5>&copy;nobia 2019 This site is for Research Use Only</h5>
      </div>
    </div>
  </div>
</footer>

</body>
</html>