{% extends "siteusers/base.html" %}
{% load static %}

{% block content %}
<!--- Image Slider -->
<dir class="carousel slide" id="slides" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/slides/slide1.jpg' %}">
      <dir class="carousel-caption">
        <h1 class="display-2">SimpleStory</h1>
        <h3>simple fun</h3>
        {% if user.is_authenticated %}
          <a href="{% url 'profile' %}">
              <button type="button" class="btn btn-outline-light btn-lg">
                {{ user.username }}
              </button>
          </a>
          <a href="{% url 'download' %}">
              <button type="button" class="btn btn-primary btn-lg" href="{% url 'register' %}">
                Download
              </button>
          </a>
        {% else %}
          <a href="{% url 'login' %}">
              <button type="button" class="btn btn-outline-light btn-lg">
                Log In
              </button>
          </a>
          <a href="{% url 'register' %}">
              <button type="button" class="btn btn-primary btn-lg" href="{% url 'register' %}">
                Sign Up
              </button>
          </a>
        {% endif %}
      </dir>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/slides/slide2.jpg' %}">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/slides/slide3.jpg' %}">
    </div>
  </div>
</dir>

<!--- Jumbotron -->
<dir class="container-fluid">
  <div class="row jumbotron">
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p>Based on HeavenMS. Modernized and containerized.</p>
      <p>Powered by Ubuntu, CentOS, Nginx, Haproxy, Git, Django, Kubernetes, Docker, Bootstrap, MariaDB, PostgreSQL, Java ... and nobia!</p>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="#">
        <a type="button" class="btn btn-outline-secondary btn-lg" href="{% url 'donate' %}">
          Donate
        </a>
      </a>
    </div>
  </div>
</dir>

<!--- Welcome Section -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Welcome</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">
        Welcome to SimpleStory!
        --v83, adventures before the BigBang.
      </p>
    </div>
  </div>
</div>


<!--- Five Column Section -->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-8 col-sm-2">
      <div class="jcard card">
        <img class="card-img-top" src="{% static 'img/jobs/magician.png' %}">
        <div class="card-body">
          <h3 class="card-text">MAGICIAN</h3>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-2">
      <div class="jcard card">
        <img class="card-img-top" src="{% static 'img/jobs/bowman.png' %}">
        <div class="card-body">
          <h3 class="card-text">ARCHER</h3>
        </div>
      </div>
    </div><div class="col-8 col-sm-2">
      <div class="jcard card">
        <img class="card-img-top" src="{% static 'img/jobs/thief.png' %}">
        <div class="card-body">
          <h3 class="card-text">THIEF</h3>
        </div>
      </div>
    </div><div class="col-8 col-sm-2">
      <div class="jcard card">
        <img class="card-img-top" src="{% static 'img/jobs/warrior.png' %}">
        <div class="card-body">
          <h3 class="card-text">WARRIOR</h3>
        </div>
      </div>
    </div><div class="col-8 col-sm-2">
      <div class="jcard card">
        <img class="card-img-top" src="{% static 'img/jobs/pirate.png' %}">
        <div class="card-body">
          <h3 class="card-text">PIRATE</h3>
        </div>
      </div>
    </div>
  </div>
<hr class="my-4">
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-4">
      <h2>Play with your friends!</h2>
      <textarea rows = "5" cols = "20" id="copylink">Follow the link to come and play with me in SimpleStory! -- www.simplestory.online
      </textarea>
      <button class="btn btn-primary" onclick="myCopyFunc()">
        Copy Text
      </button>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'img/teamplay.png' %}" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">

<script>
function myCopyFunc() {
  var copyText = document.getElementById("copylink");
  copyText.select();
  document.execCommand("copy");
  alert("Link copied! If not working, please copy it manually.");
}
</script>

{% endblock content %}